@use 'variables' as *;
@use 'material-theme';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #DDE4E6;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

